body {
  margin: 0%;
  height: 100vh;
  font-size: 15px;
  font-weight: 700;
  background: url("./images/bg-top.svg") right top no-repeat,
    url("./images/bg-bottom.svg") left bottom no-repeat;
  background-color: hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
}

header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: hsl(234, 14%, 74%);
  margin: 2%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading {
  color: hsl(232, 13%, 33%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 3%;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 75%;
  margin: auto;
}

.container1,
.container2,
.container3 {
  width: 33%;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
  padding: 0.5%;
}

.container1 {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.container3 {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

ul {
  list-style-type: none;
}

ul li {
  border-bottom: 0.5px hsla(234, 14%, 74%, 0.5) solid;
  margin: 5%;
  padding: 5%;
  margin-left: -5%;
}

ul li:nth-child(1) {
  border-top: 0.5px hsla(234, 14%, 74%, 0.5) solid;
}

.container2 {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  padding: 35px 0;
}

.buttonMade {
  margin: 5%;
  background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  font-family: "Montserrat", sans-serif;
  border-radius: 3%;
  width: 80%;
  border-style: none;
  padding: 4%;
  color: white;
}

.buttonMade:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border: 1px hsl(237, 63%, 64%) solid;
}

.container2 .buttonMade:hover {
  background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: 1px white solid;
}

.container2 .buttonMade {
  background: white;
  color: hsl(237, 63%, 64%);
}

.container2 ul li {
  border-color: hsla(240, 78%, 98%, 0.6);
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dollarSign {
  font-size: 40px;
}

#masterPrice,
#professionalPrice,
#basicPrice {
  font-size: 60px;
  margin: 20px 0px;
}

h4 {
  font-size: 20px;
}

/* Switch Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  body {
    height: auto;
    width: 100vw;
    background: url("./images/bg-top.svg") right top no-repeat;
  }

  .container {
    flex-direction: column;
    padding: 0%;
  }

  .container1,
  .container2,
  .container3 {
    width: 75vw;
    border-radius: 5%;
    margin-bottom: 10%;
  }
}
